body{
  font-family: "PT Sans", arial, sans-serif;
  text-transform: uppercase;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

header{
  font-size: 14px;
  font-weight: bold;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 1200px;
}

/* Заголовок------------------------------------------------------------------*/
.main_header{
  height: 56px;
}

.main_header ul{
  list-style-type: none;
}

.main_header .left{
  float: left;
}

.main_header .right{
  float: right;
}

/* Главная картинка-----------------------------------------------------------*/

.main_logo{
  height: 510px;
  width: inherit;
  background: url(./../img/bg_footer_index_page.png) left bottom / 1200px 57px no-repeat,
              url(./../img/bg_index_page.jpg) 0px 0px / 1200px;
}

.welcome{
  margin-left: 372px;
  margin-top: 77px;
}

.why_sedona{
  width: inherit;
  float: left;
  margin-bottom: 60px;
}

.why_sedona .thesis{
  width: 440px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.definition{
  text-align: center;
  margin-top: 43px;
  margin-bottom: 0px;
}

.advantages{
  width: inherit;
}

.advantages .text_description{
  float: left;
  width: 400px;
  text-align: center;
  background-color: #81b3d2;
  color: white;
}

.advantages .header{
  margin-top: 44px;
  font-size: 21px;
  font-weight: bold;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.advantages .num{
  margin-top: 30px;
  font-size: 14px;
}

.advantages .description{
  margin-top: 30px;
  font-size: 14px;
  width: 307px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 44px;
}

.advantages .photo{
  float: left;
  width: 800px;
  height: 256px;
  background-size: 800px;
  background-position: 0px -78px;
}

.advantages .first{
  background-image: url(./../img/advantages/1.jpg);
}

.advantages .second{
  background-image: url(./../img/advantages/2.jpg);
}

.recomends {
  width: inherit;
}

.recomends .recomend{
  float: left;
  width: 400px;
  text-align: center;
  background-position: 162px 60px;
  background-repeat: no-repeat;
}

.recomends .recomend_thesis{
  font-size: 21px;
  font-weight: bold;
  margin-top: 164px;
}

.housing {
  background: url(./../img/recomends/house.png);
}

.food {
  background: url(./../img/recomends/food.png);
}

.souvenirs {
  background: url(./../img/recomends/souvenirs.png);
}

.recomends .definition{
  font-size: 14px;
  width: 288px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.small{
  width: inherit;
  background-color: #e5e5e5;
}

.advantage{
  float: left;
  width: 400px;
  height: inherit;
  text-align: center;
  background-color: #e5e5e5;
}

/* Поиск ---------------------------------------------------------------------*/
.search_footer{
  width: inherit;
  position: relative;
}

.search_hotel{
  width: inherit;
  height: 885px;
  background: url(./../img/map_index_page.jpg) 0px 291px no-repeat;
}

.interested{
  width: inherit;
  float: left;
  text-align: center;
}

.interested h3{
  font-size: 30px;
  font-weight: bold;
  margin-top: 57px;
}

.search_container{
  float: left;
  width: 568px;
  height: 480px;
  margin-left: 317px;
  background-color: white;
  margin-top: 30px;
}

.search {
  width: 458px;
  height: 286px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
  font-size: 14px;
  font-weight: bold;
}

.show_hide{
  width: 568px;
  height: 86px;
  background-color: #766357;
  color: white;
  font-size: 21px;
  text-transform: uppercase;
  border: 0px;
}

.search .row{
  height: 38px;
  margin-bottom: 30px;
  vertical-align: middle;
}

.search .header{
  width: 112px;
  float: left;
  line-height: 38px;
  font-weight: bold;
  font-size: 14px;
}

.search .date_field{
  width: 308px;
  height: inherit;
  background-color: #f2f2f2;
  border: 0px;
  float: left;
  padding: 0px;
  line-height: 38px;
  font-weight: bold;
  font-size: 14px;
}

.calendar{
  background: url(./../img/calendar.png) center no-repeat;
  background-color: #f2f2f2;
  height: 38px;
  width: 38px;
  float: left;
  border: 0px;
  padding: 0px;
}

.search .number_field{
  background-color: #f2f2f2;
  height: 38px;
  width: 38px;
  border: 0px;
  padding: 0px;
  float: left;
}

.input_num .btn{
  background-color: #f2f2f2;
  height: 38px;
  width: 38px;
  border: 0px;
  padding: 0px;
  float: left;
}

.search .input_num:last-child .header{
  width: 66px;
  margin-left: 52px;
}

.search .find{
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  color: white;
  border: 0px;
  padding: 0px;
  font-size: 21px;
  text-transform: uppercase;
  margin-top: 25px;
}

/* Подвал---------------------------------------------------------------------*/

.main_footer{
  width: 1200px;
  height: 120px;
  background-color: white;
  opacity: 0.9;
  line-height: 120px;
}

.main_footer .thesis{
  float: left;
  width: 400px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  line-height: 120px;
}

.main_footer .footer-social{
  float: left;
  width: 400px;
}

.main_footer .producer{
  float: left;
  width: 400px;
  text-align: center;
}

.producer .web{
  float: left;
  margin-left: 100px;
  margin-right: 10px;
}

.producer .producer_logo{
  float: left;
  padding-top: 30px;
}

.index_footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Страница отелей*********************************************************/
/*Фильтр*/

.filter{
  width: inherit;
  height: 220px;
  background: url(./../img/bg_hotels_page.jpg) 0px -300px / 1200px no-repeat;
  color: white;
  font-size: 14px;
}

.filter .header{
  font-size: 16px;
  font-weight: bold;
}

.infrastructure{
  float: left;
  width: 240px;
  height: inherit;
  border: none;
  margin-right: 0px;
  margin-left: 70px;
  padding: 0px;
}

.house_type{
  float: left;
  width: 285px;
  height: inherit;
  border: none;
  margin-right: 0px;
  padding: 0px;
}

.price{
  float: left;
  width: 400px;
  margin-left: 200px;
  margin-right: 0px;
  border: none;
  padding: 0px;
  height: 150px;
}

.price .from,
.price .to {
  width: 157px;
  height: 21px;
  border-left: 2px solid white;
  border-right: 0px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-radius: 3px;
  background-color: rgba(255, 0, 0, 0);
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

.price .to{
  border-left: 0px;
  border-right: 2px solid white;
  background-color: rgba(255, 0, 0, 0);
  margin-left: 0px;
}

.show{
  float: left;
  margin-left: 298px;
  border: 2px solid white;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0);
  width: 133px;
  height: 32px;
  color: white;
  text-transform: uppercase;
}

/* Результаты поиска----------------------------------------------------------*/

.search_result{
  width: inherit;
}

.search_result .header{
  height: 87px;
  padding-left: 70px;
  padding-right: 70px;
  border-bottom: 1px solid rgb(229, 229, 229);
}

.search_result .header .thesis{
  line-height: 87px;
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
  width: 164px;
}

.search_result .thesis_sort{
  line-height: 87px;
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
}

.sort_result{
  float: left;
}

.arrows{
  float: right;
}

.result_list .hotel{
  width: 1060px;
  padding-left: 70px;
  padding-right: 70px;
  border-bottom: 1px solid rgb(229, 229, 229);
}

.result_list .hotel_photo{
  float: left;
  margin: 30px 0px;
}

.result_list .hotel_description{
  float: left;
  margin: 30px 0px;
  margin-left: 30px;
  height: 90px;
}

.result_list .hotel_description .name{
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.result_list .hotel_description .definition{
  font-size: 14px;
  margin: 9px 0px;
  text-align: left;
}

.result_list .hotel_description .detail,
.result_list .hotel_description .book{
  height: 27px;
  display: block;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  line-height: 27px;
  text-align: center;
  float: left;
}

.result_list .hotel_description .detail{
  width: 110px;
  background-color: #81b3d2;
}

.result_list .hotel_description .book{
  width: 142px;
  background-color: #766357;
  margin-left: 6px;
}

.result_list .ratio{
  float: right;
  margin-right: 70px;
}

.thesis{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.definition{
  font-size: 14px;
  color: #333333;
}
