body{
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
}

header{
  font-size: 14px;
  font-weight: bold;
}

.thesis{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.definition{
  font-size: 14px;
  color: #333333;
}
