body{
  font-family: "PT Sans", arial, sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

.container{
  min-width: 768px;
  max-width: 1200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 0 0 20px;
}

.shadow{
  min-width: 768px;
  max-width: 1200px;
  box-shadow: 0 0 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

/* Заголовок------------------------------------------------------------------*/
.main_navigation{
  padding: 0 6%;
}

.main_header ul{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 40%;
}

.main_header .left{
  float: left;
  text-align: left;
}

.top_logo{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 5;
  width: 20%;
  text-align: center;
}

.main_header .right{
  float: right;
  text-align: right;
}

.main_header li{
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 18px 0;
}

.main_header .point{
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.menu.left li:last-child{
  padding-left: 30px;
}

.menu.right li:first-child{
  padding-right: 30px;
}

.main_header .point:hover:not(.current_page){
  color: #81b3d2;
}

.main_header .point:active:not(.current_page){
  color: black;
  opacity: 0.3;
}

.main_header .current_page{
  color: #766357;
}
/* Главная картинка-----------------------------------------------------------*/

.main_logo{
  height: 509px;
  background-color: #9aa2a9;
  background: url(./../img/bg_footer_index_page.png) left bottom / 100% 57px no-repeat,
              url(./../img/bg_index_page.jpg) 0px /*-83px*/6.91% / 100%;
}

.welcome{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 458px;
  height: 352px;
  padding-top: 75px;
}

.why_sedona{
  margin-top: 60px;
  margin-bottom: 55px;
}

.why_sedona .thesis{
  width: 440px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.definition{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
}

.advantages{
  background-color: #81b3d2;
}

.advantages .text_description{
  float: left;
  width: 33.333333%;
  text-align: center;

  color: white;
}

.advantages .header{
  margin-top: 55px;
  font-size: 21px;
  font-weight: bold;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  line-height: 20px;
}

.advantages .num{
  margin-top: 26px;
  font-size: 14px;
}

.advantages .description{
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 52px;
  line-height: 20px;
  font-size: 14px;
  min-width: 181px;
  max-width: 307px;
}

.advantages.first,
.advantages.second{
  background-image: url(./../img/advantages/1.jpg);
  background-repeat: no-repeat;
  background-size: 66.666666%;
  background-position: right;
}

.advantages.second {
  background-image: url(./../img/advantages/2.jpg);
  background-position: left;
}

.advantages.second .text_description{
  float: right;
}

.recomends .recomend{
  float: left;
  width: 33.333333%;
  text-align: center;
  background-position: center 60px;
  background-repeat: no-repeat;
}

.recomends .recomend_thesis{
  font-size: 21px;
  font-weight: bold;
  margin-top: 158px;
}

.recomend{
  position: relative;
}

.recomend::after{
  position: absolute;
  display: block;
  content: "";
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 60px;
  background: url(./../img/sprite.png) no-repeat;
}

.housing::after {
  width: 75px;
  height: 72px;
  background-position: -10px -346px;
}

.food::after {
  width: 74px;
  height: 70px;
  background-position: -10px -256px;
}

.recomend.souvenirs::after {
  top: 57px;
  width: 64px;
  height: 76px;
  background-position: -10px -762px;
}

.recomends .definition{
  font-size: 14px;
  padding: 0 12%;
  /*min-width: 154px;
  max-width: 288px;*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  margin-top: 22px;
  line-height: 21px;
}

.small{
  background-color: #e5e5e5;
}

.advantages.small .header{
  margin-top: 50px;
}

.advantages.small .description{
  padding: 0 11%;
  margin-top: 22px;
  margin-bottom: 59px;
}

.advantage{
  float: left;
  width: 33.333333%;
  text-align: center;
  background-color: #e5e5e5;
}

/* Поиск ---------------------------------------------------------------------*/
.interested{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 46px;
}

.interested h3{
  font-size: 30px;
  font-weight: bold;
  padding-top: 3px;
}

.index_map{
  height: 591px;
  width: 100%;
  background: url(./../img/map_index_page.jpg) no-repeat;
}

.search_container{
  width: 568px;
  margin: 0 auto;
  margin-top: 53px;
  position: relative;
}

.form_container{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
}

.search {
  padding: 55px;
  background-color: white;
  box-sizing: border-box;
  transition: 1s;
}

.show_hide{
  width: 100%;
  height: 86px;
  font-size: 21px;
  text-transform: uppercase;
  border: 0px;
  cursor: pointer;
}

.brown{
  background-color: #766357;
  color: white;
  cursor: pointer;
  outline: 0;
}

.brown:hover{
  background-color: #604e43;
}

.brown:active{
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.search .row{
  height: 38px;
  margin-bottom: 30px;
  vertical-align: middle;
}

.search .header{
  width: 112px;
  float: left;
  line-height: 38px;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
}

.search .date_field{
  width: 308px;
  height: inherit;
  background-color: #f2f2f2;
  border: 0px;
  float: left;
  padding: 0px;
  line-height: 38px;
  font-weight: bold;
  font-size: 14px;
  box-sizing: border-box;
  padding-left: 15px;
  outline: 0;
  text-transform: uppercase;
}

.search .date_field:hover{
  background-color: #ebebeb;
}

.search .date_field:focus{
  background: 0;
}

.calendar{
  background-color: #f2f2f2;
  height: 38px;
  width: 38px;
  float: left;
  border: 0px;
  padding: 0px;
  cursor: pointer;
  outline: 0;
}

.calendar:after{
  content: "";
  display: block;
  left: 0;
  right: auto;
  margin: auto;
  width: 21px;
  height: 22px;
  background: url(./../img/sprite.png) -10px -10px no-repeat;
  opacity: 0.3;
}

.calendar:hover:after{
  opacity: 1;
  background-color: #ebebeb;
}

.calendar:active:after{
  background-position: -10px -52px;
}

.search .number_field{
  background-color: #f2f2f2;
  height: 38px;
  width: 38px;
  border: 0px;
  padding: 0px;
  float: left;
  text-align: center;
  outline: 0;
}

.search .input_num{
  float: left;
  width: 229px;
}

.input_num .btn{
  font-weight: bold;
  font-size: 26px;
  color: #a9a9a9;
}

.input_num .btn:hover{
  color: black;
  background-color: #ebebeb;
}

.input_num .btn:active{
  color: #81b3d2;
}

.input_num .btn{
  background-color: #f2f2f2;
  height: 38px;
  width: 38px;
  border: 0px;
  padding: 0px;
  float: left;
  cursor: pointer;
  outline: 0;
}

.input_num:last-child .header{
  width: 66px;
  margin-left: 49px;
}

.search .find{
  width: 100%;
  height: 58px;
  border: 0px;
  padding: 0px;
  font-size: 21px;
  text-transform: uppercase;
  margin-top: 23px;
}

.blue{
  background-color: #81b3d2;
  color: white;
  cursor: pointer;
  outline: 0;
}

.blue:hover{
  background-color: #669ec0;
}

.blue:active{
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

/* Подвал---------------------------------------------------------------------*/
.main_footer{
  background-color: white;
  opacity: 0.9;
  padding-top: 36px;
  padding-bottom: 36px;
}

.main_footer .thesis{
  float: left;
  width: 33.333333%;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  line-height: 50px;
}

.main_footer .footer-social{
  float: left;
  width: 33.333333%;
  text-align: center;
  font-size: 0;
}

.social-btn{
  display: inline-block;
  font-size: 0;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  vertical-align: top;
  background-color: #81b3d2;
  position: relative;
}

.social-btn:first-of-type{
  margin-left: 3px;
}

.social-btn:hover{
  background-color: #669ec0;
}
.social-btn:active{
  background-color: #5496bd;
}

.social-btn::after{
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 16px;
  background: url(./../img/sprite.png);
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.social-btn-tweeter::after{
  width: 17px;
  height: 15px;
  background-position: -10px -895px;
}

.social-btn-tweeter:active::after{
  width: 17px;
  height: 15px;
  opacity: 0.3;
}

.social-btn-fb::after{
  width: 10px;
  height: 19px;
  background-position: -10px -178px;
}

.social-btn-fb:active::after{
  width: 10px;
  height: 19px;
  opacity: 0.3;
}

.social-btn-youtube::after{
  width: 20px;
  height: 16px;
  background-position: -10px -965px;
}

.social-btn-youtube:active::after{
  width: 20px;
  height: 16px;
  opacity: 0.3;
}

.main_footer .producer{
  float: left;
  width: 33.333333%;
  text-align: center;
  vertical-align: middle;
}

.producer *{
  display: inline-block;
  vertical-align: middle;
}

.producer .web{
  margin-right: 4px;
  font-size: 14px;
  text-align: center;
}

.producer .producer_logo{
  width: 113px;
  height: 39px;
  background: url(./../img/sprite.png) -10px -438px no-repeat;
}

.producer .producer_logo:hover{
  background-position: -10px -497px;
}

.producer .producer_logo:active{
  opacity: 0.3;
}

.index_footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Страница отелей*********************************************************/
/*Фильтр*/
.filter{
  width: inherit;
  background: #99a1a7 url(./../img/bg_hotels_page.jpg) 0px -300px / 100% no-repeat;
  color: white;
  font-size: 14px;
}

.filter .left{
  margin-left: 6%;
  float: left;
  margin-bottom: 20px;
}

.filter .right{
  margin-right: 6%;
  margin-bottom: 20px;
  float: right;
  width: 26.5%
}

.filter .header{
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
}

.filter ul{
  list-style: none;
  padding: 0;
}

.flt{
  display: none;
}

.filter label[for^="flt"]{
  padding-left: 40px;
  position: relative;
  cursor: pointer;
  display: block;
  margin-top: 27px;
}

.filter label[for^="flt"]::before{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -2px;
  width: 22px;
  height: 22px;
  background: url(./../img/sprite.png) -10px -94px no-repeat;
}

.flt:checked+label[for^="flt"]::before{
  width: 26px;
  height: 22px;
  background-position: -10px -136px;
}

.infrastructure{
  float: left;
  width: 253px;
  border: none;
  margin-right: 0px;
  margin-left: 0;
  margin-top: 27px;
  padding: 0px;
}

.house_type,
.filter .price{
  margin-top: 27px;
}

.house_type{
  float: left;
  border: none;
  margin-right: 0px;
  padding: 0px;
}

.price .header{
  margin-bottom: 9px;
}

.price{
  position: relative;
  margin: 0;
  border: none;
  padding: 0px;
  font-size: 0;
  width: 100%;
  min-width: 220px;
  box-sizing: border-box;
}

.from_to{
  position: relative;

  height: 34px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
  text-align: center;
}

.from_to::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.from_to label {
  display: inline-block;

  font-size: 14px;
  line-height: 34px;
  vertical-align: top;

  cursor: pointer;
}

.from_to .from,
.from_to .to {
  width: 50%;
  padding-left: 10%;
  box-sizing: border-box;
}

.price input {
  width: 50px;
  margin: 0;
  margin-left: 3px;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
  outline: 0;
  line-height: 1px;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.show{
  display: table;
  /*margin-left: auto;
  margin-right: auto;*/
  margin-left: 27%;

  border: 2px solid white;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  width: 137px;
  height: 35px;
  color: white;
  text-transform: uppercase;
  outline: 0;
  cursor: pointer;
}

.show:hover{
  background-color: white;
  color: black;
}
/* Результаты поиска----------------------------------------------------------*/

.search_result{
  width: 100%;
}

.search_result .header{
  padding: 30px 6%;
  border-bottom: 1px solid rgb(229, 229, 229);
}

.search_result .thesis{
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
  width: 164px;
}

.search_result .thesis_sort{
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  line-height: 26px;
}

.sort_result{
  float: left;
}

.sort_result ul{
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.sort_result li{
  display: inline-block;
  vertical-align: bottom;
  font-size: 12px;
  line-height: 26px;
}

.sort_result .sort{
  margin-left: 35px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sort_result .sort:hover{
  color: #81b3d2;
  opacity: 1;
}

.sort_result .sort:active:not(.current_page){
  color: black;
  border-bottom: 0;
}

.sort_result .current_page{
  color: #81b3d2;
  border-bottom: 0;
}

.arrows{
  float: right;
}

.arrows a{
  display: inline-block;
  vertical-align: bottom;
  font-size: 0;
  /*width: 11px;
  height: 10px;
  background: url(./../img/sprite.png) -10px -460px no-repeat;
  opacity: 0.3;*/
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5.5px 0 5.5px;
  border-color: black transparent transparent transparent;
  opacity: 0.3;
}

.arrows a:hover{
  opacity: 1;
}

.arrows .desc{
  margin-right: 12px;
  border-style: solid;
  border-width: 0 5.5px 11px 5.5px;
  border-color: transparent transparent black transparent;
  opacity: 0.3;
}

.arrows .desc:active,
.desc.disabled{
  border-style: solid;
  border-width: 0 5.5px 11px 5.5px;
  border-color: transparent transparent #81b3d2 transparent;
  opacity: 1;
}

.arrows .ask:active,
.ask.disabled{
  border-style: solid;
  border-width: 11px 5.5px 0 5.5px;
  border-color: #81b3d2 transparent transparent transparent;
  opacity: 1;
}
/* Отели----------------------*/
.result_list .hotel{
  padding: 30px 6%;
  border-bottom: 1px solid rgb(229, 229, 229);
}

.result_list .hotel_photo{
  float: left;
}

.result_list .hotel_description{
  float: left;
  margin-left: 30px;
  height: 90px;
}

.hotel_description .name{
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  line-height: 0;
}

.hotel_description .name:hover{
  color: #81b3d2;
}

.hotel_description .name:active{
  color: rgba(0, 0, 0, 0.3);
}

.hotel_definition{
  font-size: 14px;
  text-align: left;
  margin-bottom: 7px;
}

.hotel_definition p{
  float: left;
  margin: 9px 0px;
}

.hotel_definition .type{
  min-width: 116px;
}

.hotel_description .detail,
.hotel_description .book{
  height: 27px;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  line-height: 27px;
  text-align: center;
  float: left;
}

.hotel_description .detail{
  width: 110px;
}

.hotel_description .book{
  width: 142px;
  margin-left: 6px;
}

.ratio{
  float: right;
}

.ratio .stars{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: right;
}

.ratio .star{
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;
  width: 17px;
  height: 17px;
  background: url(./../img/sprite.png) -10px -858px no-repeat;
  margin-left: 7px;
}

.ratio .num_ratio{
  background-color: #f2f2f2;
  color: #666666;
  margin: 0;
  margin-top: 45px;
  font-size: 14px;
  padding: 5px 14px;
}

.thesis{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.definition{
  font-size: 14px;
  color: #333333;
}

.show_search{
  -webkit-transform: translateY(-500px);
  -ms-transform: translateY(-500px);
  transform: translateY(-500px);
}
